// Color theme: LJK (COLOURLovers)

$color-cocoa-bean: #2E221F;
$color-warm-chocolate: #58351A;
$color-retro-effect-2 : #F1601D;
$color-orange-sorbet : #F1AD1D;
$color-beige : #FFE6B6;

//$color-header: $color-orange-sorbet;
//$color-header-text: $color-warm-chocolate;
//$color-header-border: $color-retro-effect-2;
$color-header: $color-warm-chocolate;
$color-header-text: $color-beige;
$color-header-border: $color-orange-sorbet;

$color-background: $color-beige;
$color-text: $color-warm-chocolate;
